<a href="https://colab.research.google.com/github/ming-0602/Alogorithm_Data_Structure_MTU/blob/master/learnpyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PySpark Basic

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [ ]:
import pyspark

In [ ]:
import pandas as pd

pd.read_csv('/content/sample_data/test1.csv')

    Name  age
0  Krish   31
1   Susu   12
2    Bob   39

In [ ]:
#start spark session
from pyspark.sql import SparkSession

spark= SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.csv('/content/sample_data/test1.csv')

In [ ]:
df_pyspark=spark.read.option('header', 'true').csv('/content/sample_data/test1.csv').show()

+-----+---+
| Name|age|
+-----+---+
|Krish| 31|
| Susu| 12|
|  Bob| 39|
+-----+---+

In [ ]:
df_pyspark=spark.read.option('header', 'true').csv('/content/sample_data/test1.csv')
print(type(df_pyspark))

<class 'pyspark.sql.classic.dataframe.DataFrame'>

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)

PySpark chapter 1


*   PySpark Dataframe
*   Reading the dataset
*   Checking the datatypes of the Column
*   Selecting Columns and Indexing
*   Check Describe option similar to Pandas
*   Adding Columns
*   Dropping columns

In [ ]:
import pyspark
import pandas as pd

In [ ]:
#create sparksession

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Test2').getOrCreate()

In [ ]:
df_pyspark = spark.read.option('header', 'true').csv('/content/sample_data/test1.csv')

In [ ]:
df_pyspark.show()

+-----+---+
| Name|age|
+-----+---+
|Krish| 31|
| Susu| 12|
|  Bob| 39|
+-----+---+

In [ ]:
#check schema

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)

In [ ]:
df_pyspark = spark.read.option('header', 'true').csv('/content/sample_data/test1.csv', inferSchema=True)
#with inferschema it will make number column to integer rather than string

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)

In [ ]:
df_pyspark.columns

['Name', 'age']

In [ ]:
df_pyspark.head(3)

[Row(Name='Krish', age=31), Row(Name='Susu', age=12), Row(Name='Bob', age=39)]

In [ ]:
#select a columns
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
|Krish|
| Susu|
|  Bob|
+-----+

In [ ]:
df_pyspark.select(['Name', 'age']).show()
#select multiple column

+-----+---+
| Name|age|
+-----+---+
|Krish| 31|
| Susu| 12|
|  Bob| 39|
+-----+---+

In [ ]:
df_pyspark.describe().show()

+-------+----+------------------+
|summary|Name|               age|
+-------+----+------------------+
|  count|   3|                 3|
|   mean|NULL|27.333333333333332|
| stddev|NULL|13.868429375143148|
|    min| Bob|                12|
|    max|Susu|                39|
+-------+----+------------------+

In [ ]:
### adding columns in data frame
df_pyspark=df_pyspark.withColumn('age after 2 years', df_pyspark['Age']+2)

In [ ]:
df_pyspark.show()

+-----+---+-----------------+
| Name|age|age after 2 years|
+-----+---+-----------------+
|Krish| 31|               33|
| Susu| 12|               14|
|  Bob| 39|               41|
+-----+---+-----------------+

In [ ]:
### Reename the columns

df_pyspark.withColumnRenamed('Name', 'Bombastic Name').show()

+--------------+---+-----------------+
|Bombastic Name|age|age after 2 years|
+--------------+---+-----------------+
|         Krish| 31|               33|
|          Susu| 12|               14|
|           Bob| 39|               41|
+--------------+---+-----------------+

PySpark Chapter 2
*   Dropping Columns
*   Dropping Rows
*   Various Parameter In Dropping functionalities
*   Handling Missing values by Mean, Median, and Mode

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Test3').getOrCreate()

In [ ]:

df_spark = spark.read.csv('/content/sample_data/test3.csv', header=True, inferSchema=True)

In [ ]:
df_spark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Sunny|  32|         4| 30000|
|  Len|  12|         2|  NULL|
|  Ken|NULL|         5|  4000|
|  Len|NULL|         6|  5000|
|James|  25|         8| 21000|
|  Bob|  65|      NULL| 23000|
| NULL|  47|         4| 30000|
+-----+----+----------+------+

In [ ]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
df_spark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  32|         4| 30000|
|  12|         2|  NULL|
|NULL|         5|  4000|
|NULL|         6|  5000|
|  25|         8| 21000|
|  65|      NULL| 23000|
|  47|         4| 30000|
+----+----------+------+

In [ ]:
df_spark= df_spark.filter(df_spark.Name != "Sunny")

In [ ]:
df_spark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|  Len|  12|         2|  NULL|
|  Ken|NULL|         5|  4000|
|  Len|NULL|         6|  5000|
|James|  25|         8| 21000|
|  Bob|  65|      NULL| 23000|
+-----+----+----------+------+

In [ ]:
df_spark = spark.read.csv('/content/sample_data/test3.csv', header=True, inferSchema=True)

In [ ]:
df_spark.dropna().show()
#drop any row have Null value

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Sunny| 32|         4| 30000|
|James| 25|         8| 21000|
+-----+---+----------+------+

In [ ]:
df_spark = spark.read.csv('/content/sample_data/test3.csv', header=True)
#need to without inferschema because other columns is not string with inferschema true

In [ ]:
df_spark.na.fill("Missing Value").show()

+-------------+-------------+-------------+-------------+
|         Name|          Age|   Experience|       Salary|
+-------------+-------------+-------------+-------------+
|        Sunny|           32|            4|        30000|
|          Len|           12|            2|Missing Value|
|          Ken|Missing Value|            5|         4000|
|          Len|Missing Value|            6|         5000|
|        James|           25|            8|        21000|
|          Bob|           65|Missing Value|        23000|
|Missing Value|           47|            4|        30000|
+-------------+-------------+-------------+-------------+

In [ ]:
df_spark = spark.read.csv('/content/sample_data/test3.csv', header=True, inferSchema=True)

In [ ]:
df_spark.na.fill("Missing Value").fillna(0).show()

+-------------+---+----------+------+
|         Name|Age|Experience|Salary|
+-------------+---+----------+------+
|        Sunny| 32|         4| 30000|
|          Len| 12|         2|     0|
|          Ken|  0|         5|  4000|
|          Len|  0|         6|  5000|
|        James| 25|         8| 21000|
|          Bob| 65|         0| 23000|
|Missing Value| 47|         4| 30000|
+-------------+---+----------+------+

In [ ]:
df_spark.dropna().show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Sunny| 32|         4| 30000|
|James| 25|         8| 21000|
+-----+---+----------+------+

In [ ]:
df_spark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Sunny|  32|         4| 30000|
|  Len|  12|         2|  NULL|
|  Ken|NULL|         5|  4000|
|  Len|NULL|         6|  5000|
|James|  25|         8| 21000|
|  Bob|  65|      NULL| 23000|
| NULL|  47|         4| 30000|
+-----+----+----------+------+

In [ ]:
df_spark.na.drop(how='any', thresh=1).show()
#thresh is keep row that have atleast 1 null value

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Sunny|  32|         4| 30000|
|  Len|  12|         2|  NULL|
|  Ken|NULL|         5|  4000|
|  Len|NULL|         6|  5000|
|James|  25|         8| 21000|
|  Bob|  65|      NULL| 23000|
| NULL|  47|         4| 30000|
+-----+----+----------+------+

In [ ]:
##Subset
df_spark.dropna(how='any', subset=['Age']).show()
#delete row that age column that have null in it

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Sunny| 32|         4| 30000|
|  Len| 12|         2|  NULL|
|James| 25|         8| 21000|
|  Bob| 65|      NULL| 23000|
| NULL| 47|         4| 30000|
+-----+---+----------+------+

In [ ]:
### fill missing value
df_spark = spark.read.csv('/content/sample_data/test3.csv', header=True, inferSchema=True)
df_spark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|         Sunny|  32|         4| 30000|
|           Len|  12|         2|  NULL|
|           Ken|NULL|         5|  4000|
|           Len|NULL|         6|  5000|
|         James|  25|         8| 21000|
|           Bob|  65|      NULL| 23000|
|Missing Values|  47|         4| 30000|
+--------------+----+----------+------+

In [ ]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [ ]:
imputer.fit(df_spark).transform(df_spark).show()
#the null value have replace by median value

+-----+----+----------+------+-----------+------------------+--------------+
| Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-----+----+----------+------+-----------+------------------+--------------+
|Sunny|  32|         4| 30000|         32|                 4|         30000|
|  Len|  12|         2|  NULL|         12|                 2|         21000|
|  Ken|NULL|         5|  4000|         32|                 5|          4000|
|  Len|NULL|         6|  5000|         32|                 6|          5000|
|James|  25|         8| 21000|         25|                 8|         21000|
|  Bob|  65|      NULL| 23000|         65|                 4|         23000|
| NULL|  47|         4| 30000|         47|                 4|         30000|
+-----+----+----------+------+-----------+------------------+--------------+

PySpark Chapter 3
* Filter Operation
* &,|,==
* ~

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("test3").getOrCreate()

In [ ]:
df_pyspark = spark.read.csv('/content/sample_data/test3.csv', header=True, inferSchema=True)

In [ ]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Sunny|  32|         4| 30000|
|  Len|  12|         2|  NULL|
|  Ken|NULL|         5|  4000|
|  Len|NULL|         6|  5000|
|James|  25|         8| 21000|
|  Bob|  65|      NULL| 23000|
| NULL|  47|         4| 30000|
+-----+----+----------+------+

In [ ]:
##filter salary less than 21000

df_pyspark.filter("Salary<=21000").show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|  Ken|NULL|         5|  4000|
|  Len|NULL|         6|  5000|
|James|  25|         8| 21000|
+-----+----+----------+------+

In [ ]:
df_pyspark.filter("Salary<=21000").select(['Name', 'Age']).show()

+-----+----+
| Name| Age|
+-----+----+
|  Ken|NULL|
|  Len|NULL|
|James|  25|
+-----+----+

In [ ]:
from pyarrow import NULL
df_pyspark.filter((df_pyspark['Salary']<=21000) & (df_pyspark['Salary']>4000)).show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|  Len|NULL|         6|  5000|
|James|  25|         8| 21000|
+-----+----+----------+------+

In [ ]:
df_pyspark.filter((df_pyspark['Salary']<=21000) | (df_pyspark['Salary']>4000)).show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Sunny|  32|         4| 30000|
|  Ken|NULL|         5|  4000|
|  Len|NULL|         6|  5000|
|James|  25|         8| 21000|
|  Bob|  65|      NULL| 23000|
| NULL|  47|         4| 30000|
+-----+----+----------+------+

PySpark Chapter 4
Group By and Aggregate Function

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("test4").getOrCreate()

In [ ]:
df_pyspark = spark.read.csv("/content/sample_data/test3.csv", header="True", inferSchema="True")

In [ ]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Sunny|  32|         4| 30000|
|  Len|  12|         2|  NULL|
|  Ken|NULL|         5|  4000|
|  Len|NULL|         6|  5000|
|James|  25|         8| 21000|
|  Bob|  65|      NULL| 23000|
| NULL|  47|         4| 30000|
+-----+----+----------+------+

In [ ]:
df_pyspark.groupBy('Experience').sum().show()
#sum up all the same experience

+----------+--------+---------------+-----------+
|Experience|sum(Age)|sum(Experience)|sum(Salary)|
+----------+--------+---------------+-----------+
|      NULL|      65|           NULL|      23000|
|         6|    NULL|              6|       5000|
|         5|    NULL|              5|       4000|
|         4|      79|              8|      60000|
|         8|      25|              8|      21000|
|         2|      12|              2|       NULL|
+----------+--------+---------------+-----------+

In [ ]:
df_pyspark.groupBy('Experience').count().show()
# find how many is same experince

+----------+-----+
|Experience|count|
+----------+-----+
|      NULL|    1|
|         6|    1|
|         5|    1|
|         4|    2|
|         8|    1|
|         2|    1|
+----------+-----+

Linear Regression

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("test5").getOrCreate()

In [ ]:
training = spark.read.csv("/content/sample_data/test4.csv", header="True", inferSchema="True")

In [ ]:
training.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
training.columns

['Name', 'Age', 'Experience', 'Salary']

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["Age", "Experience"],outputCol="Independent Features")

In [ ]:
output=featureassembler.transform(training)

In [ ]:
output.show()

+---------+---+----------+------+--------------------+
|     Name|Age|Experience|Salary|Independent Features|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|          [30.0,8.0]|
|    Sunny| 29|         4| 20000|          [29.0,4.0]|
|     Paul| 24|         3| 20000|          [24.0,3.0]|
|   Harsha| 21|         1| 15000|          [21.0,1.0]|
|  Shubham| 23|         2| 18000|          [23.0,2.0]|
+---------+---+----------+------+--------------------+

In [ ]:
output.columns

['Name', 'Age', 'Experience', 'Salary', 'Independent Features']

In [ ]:
finalized_data=output.select("Independent Features", "Salary")

In [ ]:
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [ ]:
from pyspark.ml.regression import LinearRegression
train_data, test_data = finalized_data.randomSplit([0.75, 0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [ ]:
regressor.coefficients

DenseVector([2142.8571, -714.2857])

In [ ]:
regressor.intercept

-29285.71428567669

In [ ]:
pred_results=regressor.evaluate(test_data)

In [ ]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [23.0,2.0]| 18000| 18571.42857142755|
|          [29.0,4.0]| 20000|29999.999999991876|
|          [30.0,8.0]| 25000|29285.714285712344|
+--------------------+------+------------------+